/* 
1. Posicionamiento (relativo - absoluto)
2. Modelo de caja (box model)
3. Tipografia
4. Visuales
5. Otros
*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
  font-family: "inter", sans-serif;
}
body {
  font-family: "inter";
}
header {
  width: 640px;
  height: 291px;
  /* height: 470px; */
  max-width: 400px;
  margin: 0 auto;
}

header img {
  /* width: 100%; */
  max-width: 100%;
  height: auto;
}
.marco {
  position: relative;
  width: 520px;
  height: 540px;
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}
.marco img {
  /* width: 93%; */
  max-width: 100%;
  height: auto;
}

.marco .foto {
  position: absolute;
  width: 50%;
  height: auto;
  left: calc(50% - 97px);
  top: 0;
  /* display: block; */
  margin-top: 10px;
}

.marco p {
  margin-top: 18px;
  width: 100%;
  font-size: 2rem;
  line-height: 3rem;
  background-color: #286fa5;
  color: white;
}

.fecha {
  position: relative;
  width: 485px;
  height: 329px;
  max-width: 400px;
  margin: 20px auto;
  background-color: black;
}

.fecha img {
  max-width: 100%;
  height: auto;
}

.fecha span {
  position: absolute;
  width: 105px;
  bottom: 4px;
  left: calc(50% - 38px);
  font-size: 2.5rem;
  color: white;
}
footer {
  position: relative;
  width: 500px;
  height: 150px;
  max-width: 400px;
  background-color: #97d012;
  margin: 0 auto;
}

footer p {
  width: 200px;
  padding-top: 25px;
  font-size: 2rem;
  text-align: center;
  color: black;
  font-weight: bold;
  margin: 0 auto;
}

footer img {
  position: absolute;
  width: 40px;
  max-width: 50px;
  height: auto;
  top: 28px;
  left: 60px;
}

footer .buttonca {
  width: 56%;
  height: 40px;
  /* margin-top: 60px; */
  font-size: 2rem;
  font-weight: bold;
  border-radius: 8px;
  background-color: white;
  margin: 10px 89px 0;
}
